$primary-font: 'Rajdhani', sans-serif;
$branding-font: 'Quicksand', sans-serif;

$primary-text-color: #353535;
$purple-color: #483d8b;
$green-color: #40c1ac;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    //background: linear-gradient(#721c11, #c83f1a);
    background-color: #c0c0c0;
    font-family: $primary-font;
}

html {
    font-size: 62.5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*
.header {
    height: 10vh;
    padding: 2rem;
    //color: white;
    color: $primary-text-color;
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        h2 {
            font-size: 3rem;
        }
      /*  p {
            font-size: 1.8rem;
        }*/
/*    }
}*/
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .sidenav-container {
        width: 30vw;
        padding: 0 4rem;
        background-color: $purple-color;
        color: white;
        .sidenav-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 16vh;
            text-align: center;
            padding-top: 2rem;
            i {
                font-size: 4.8rem;;
            }
            h2 {
                font-size: 3rem;
            }
          /*  p {
                font-size: 1.8rem;
            }*/
        }
        .sidenav-menu {
            height: 73vh;
            padding-top: 6rem;
            h2 {
                font-size: 2.4rem;
                color: $green-color;
                padding-bottom: 2rem;
            }
            ul li {
                display: inline-flex;
                list-style: none;
                padding: 1.4rem 2rem;
                color: white;
                text-decoration: none;
                cursor: pointer;
                font: { 
                    size: 1.8rem;
                    weight: 600;
                }
                i {
                    margin-right: 1rem;
                }
                .link-selected {
                    color: red;
                }
                .link-non-selected {
                    color: white;
                }
                &:after{
                    color: red;
                }
            }
        }
        .sidenav-footer {
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $purple-color;
            h2 {
                font: {
                    family: $branding-font;
                    weight: 100;
                    size: 2rem;
                }
                color: white;
                text-align: center;
            }
            .logo {
                display: inline-flex;
                picture {
                    img {
                        width: 10rem;
                        padding-top: 2rem;
                    }
                }
                h2 {
                    align-self: center;
                }
            }
            .social-network {
                display: inline-flex;
                i {
                    color:white;
                    font-size: 2.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    .calculator-container {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: $primary-text-color;
        .calculator-card {
            width: 48rem;
            height: fit-content;
            border-radius: 1.6rem;
            background-color: white;
            align-items: center;
            font-size: 3rem 3rem 1rem;
            .calculator-title {
                color: $primary-text-color;
                text-align: center;
                padding: 2.4rem 0;
                background-color: $green-color;
                border-radius: 1.6rem 1.6rem 0 0;
                color: white;
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .calculator {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 2rem 3rem 0;
                font-size: 1.6rem;
                h2 {
                    font-size: 1.8rem;
                }
                .select {
                    border: none;
                    font-size: 1.4rem;
                    background-color: transparent;
                    color: $primary-text-color;
                    font: {
                        family: 'Rajdhani', sans-serif;
                        size: 1.8rem;
                    }
                    &:focus {
                        outline: none;
                    }
                }  
            }
            .shapeForm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 3rem;
                picture {
                    padding: 0 0 5rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 16rem;
                    }
                }
                .shape-calculator {
                    display: flex;
                    flex-direction: column;
                    label {
                        font-size: 1.8rem;
                    }
                    .common-input {
                        input {
                            height: 36px;
                            border-radius: 0.5rem;
                            margin-top: 0.5rem;
                            padding: 1rem;
                            font-size: 1.6rem;
                            border: 1px solid $primary-text-color;
                        }
                        select {
                            width: 20%;
                            height: 36px;
                            font-size: 1.6rem;
                            border-radius: 0.5rem;
                            border: 1px solid $primary-text-color;
                            background-color: transparent;
                            color: $primary-text-color;
                        }
                    }
                    .measurement {
                        input {
                            width: 79%;
                        }
                    }
                    .discount {
                        input {
                            width: 100%;
                        }
                    }
                    h2 {
                        font: {
                            size: 2.6rem;
                            font-weight: bold;
                        }
                        text-align: center;
                        margin-bottom: 3rem;
                        color: $purple-color; // #c83f1a;
                        text-transform: uppercase;
                    }
                    h3 {
                        font-size: 1.8rem;
                        color: red;
                        margin-top: 0.5rem;
                    }
                    .button-actions{
                        padding: 3rem 0 2rem;
                        display: flex;
                        justify-content: space-between;
                        button {
                            padding: 1rem;
                            height: 4.6rem;
                            width: 20rem;
                            border-radius: 2.5rem;
                            border: none;
                            font: {
                                family: 'Rajdhani', sans-serif;
                                size: 1.8rem;
                                weight: bolder;
                            }
                            letter-spacing: 0.5px;
                            color: white;
                            background-color: $green-color;
                        }
                        .button-discount {
                            width: 100%;
                        }
                    }
                }
                .triangle-measures {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .triangle-input{
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        input {
                            width: 98%;
                            height: 3.6rem;
                            border-radius: 0.5rem;
                            color: $primary-text-color;
                            border: 1px solid $primary-text-color;
                        }
                        select {
                            height: 3.6rem;
                            font-size: 1.6rem;
                            margin-top: 2.3rem;
                            border-radius: 0.5rem;
                            background-color: transparent;
                            color: $primary-text-color;
                        }
                    }
                }
            }
        }
    }
}/*
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple-color;
    h2 {
        font: {
            family: $branding-font;
            weight: 100;
            size: 2rem;
        }
        color: white;
        text-align: center;
    }
    picture {
        img {
            width: 10rem;
            padding-top: 2rem;
        }
    }
    .social-network {
        position: absolute;
        right: 20vw;
        display: inline-flex;
        i {
            color:white;
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }
}*/

@media (max-width: 600px) {
    .calculator-container {
        .calculator-card {
            width: 32rem;
            margin-bottom: 2rem;
            .calculator {
                padding: 2rem 2rem 1rem;
            }
            .shapeForm {
                padding: 2rem;
                picture {
                    img {
                        width: 12rem;
                    }
                }
                .shape-calculator {
                    .button-actions {
                        padding: 2rem 0 1rem;
                        flex-direction: column;
                        height: 130px;
                        button {
                            width: 100%;
                        }
                    }
                }                                     
            }
        }
    }
    footer {
        margin: 0 3.5rem 0 2.5rem;
        justify-content: flex-start;
        h2 {
            font-size: 1.8rem;
        }
        picture {
            img {
                width: 7rem;
            }
        }
        .social-network {
            margin-left: auto;
            right: 3rem;
            i {
                font-size: 2rem;
            }
        }
    }
}
