* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #c0c0c0;
  font-family: "Rajdhani", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
.header {
    height: 10vh;
    padding: 2rem;
    //color: white;
    color: $primary-text-color;
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        h2 {
            font-size: 3rem;
        }
      /*  p {
            font-size: 1.8rem;
        }*/
/*    }
}*/
.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.main-container .sidenav-container {
  width: 30vw;
  padding: 0 4rem;
  background-color: #483d8b;
  color: white;
}
.main-container .sidenav-container .sidenav-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16vh;
  text-align: center;
  padding-top: 2rem;
  /*  p {
        font-size: 1.8rem;
    }*/
}
.main-container .sidenav-container .sidenav-header i {
  font-size: 4.8rem;
}
.main-container .sidenav-container .sidenav-header h2 {
  font-size: 3rem;
}
.main-container .sidenav-container .sidenav-menu {
  height: 73vh;
  padding-top: 6rem;
}
.main-container .sidenav-container .sidenav-menu h2 {
  font-size: 2.4rem;
  color: #40c1ac;
  padding-bottom: 2rem;
}
.main-container .sidenav-container .sidenav-menu ul li {
  display: inline-flex;
  list-style: none;
  padding: 1.4rem 2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
}
.main-container .sidenav-container .sidenav-menu ul li i {
  margin-right: 1rem;
}
.main-container .sidenav-container .sidenav-menu ul li .link-selected {
  color: red;
}
.main-container .sidenav-container .sidenav-menu ul li .link-non-selected {
  color: white;
}
.main-container .sidenav-container .sidenav-menu ul li:after {
  color: red;
}
.main-container .sidenav-container .sidenav-footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #483d8b;
}
.main-container .sidenav-container .sidenav-footer h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.main-container .sidenav-container .sidenav-footer .logo {
  display: inline-flex;
}
.main-container .sidenav-container .sidenav-footer .logo picture img {
  width: 10rem;
  padding-top: 2rem;
}
.main-container .sidenav-container .sidenav-footer .logo h2 {
  align-self: center;
}
.main-container .sidenav-container .sidenav-footer .social-network {
  display: inline-flex;
}
.main-container .sidenav-container .sidenav-footer .social-network i {
  color: white;
  font-size: 2.5rem;
  margin-right: 1rem;
}
.main-container .calculator-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #353535;
}
.main-container .calculator-container .calculator-card {
  width: 48rem;
  height: fit-content;
  border-radius: 1.6rem;
  background-color: white;
  align-items: center;
  font-size: 3rem 3rem 1rem;
}
.main-container .calculator-container .calculator-card .calculator-title {
  color: #353535;
  text-align: center;
  padding: 2.4rem 0;
  background-color: #40c1ac;
  border-radius: 1.6rem 1.6rem 0 0;
  color: white;
}
.main-container .calculator-container .calculator-card .calculator-title h2 {
  font-size: 3rem;
}
.main-container .calculator-container .calculator-card .calculator-title p {
  font-size: 1.8rem;
}
.main-container .calculator-container .calculator-card .calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem 0;
  font-size: 1.6rem;
}
.main-container .calculator-container .calculator-card .calculator h2 {
  font-size: 1.8rem;
}
.main-container .calculator-container .calculator-card .calculator .select {
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
  color: #353535;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
}
.main-container .calculator-container .calculator-card .calculator .select:focus {
  outline: none;
}
.main-container .calculator-container .calculator-card .shapeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.main-container .calculator-container .calculator-card .shapeForm picture {
  padding: 0 0 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container .calculator-container .calculator-card .shapeForm picture img {
  width: 16rem;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator {
  display: flex;
  flex-direction: column;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator label {
  font-size: 1.8rem;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .common-input input {
  height: 36px;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #353535;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .common-input select {
  width: 20%;
  height: 36px;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 1px solid #353535;
  background-color: transparent;
  color: #353535;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .measurement input {
  width: 79%;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .discount input {
  width: 100%;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator h2 {
  font-size: 2.6rem;
  font-font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: #483d8b;
  text-transform: uppercase;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator h3 {
  font-size: 1.8rem;
  color: red;
  margin-top: 0.5rem;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .button-actions {
  padding: 3rem 0 2rem;
  display: flex;
  justify-content: space-between;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .button-actions button {
  padding: 1rem;
  height: 4.6rem;
  width: 20rem;
  border-radius: 2.5rem;
  border: none;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: white;
  background-color: #40c1ac;
}
.main-container .calculator-container .calculator-card .shapeForm .shape-calculator .button-actions .button-discount {
  width: 100%;
}
.main-container .calculator-container .calculator-card .shapeForm .triangle-measures {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main-container .calculator-container .calculator-card .shapeForm .triangle-measures .triangle-input {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.main-container .calculator-container .calculator-card .shapeForm .triangle-measures .triangle-input input {
  width: 98%;
  height: 3.6rem;
  border-radius: 0.5rem;
  color: #353535;
  border: 1px solid #353535;
}
.main-container .calculator-container .calculator-card .shapeForm .triangle-measures .triangle-input select {
  height: 3.6rem;
  font-size: 1.6rem;
  margin-top: 2.3rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #353535;
}

/*
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple-color;
    h2 {
        font: {
            family: $branding-font;
            weight: 100;
            size: 2rem;
        }
        color: white;
        text-align: center;
    }
    picture {
        img {
            width: 10rem;
            padding-top: 2rem;
        }
    }
    .social-network {
        position: absolute;
        right: 20vw;
        display: inline-flex;
        i {
            color:white;
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }
}*/
@media (max-width: 600px) {
  .calculator-container .calculator-card {
    width: 32rem;
    margin-bottom: 2rem;
  }
  .calculator-container .calculator-card .calculator {
    padding: 2rem 2rem 1rem;
  }
  .calculator-container .calculator-card .shapeForm {
    padding: 2rem;
  }
  .calculator-container .calculator-card .shapeForm picture img {
    width: 12rem;
  }
  .calculator-container .calculator-card .shapeForm .shape-calculator .button-actions {
    padding: 2rem 0 1rem;
    flex-direction: column;
    height: 130px;
  }
  .calculator-container .calculator-card .shapeForm .shape-calculator .button-actions button {
    width: 100%;
  }

  footer {
    margin: 0 3.5rem 0 2.5rem;
    justify-content: flex-start;
  }
  footer h2 {
    font-size: 1.8rem;
  }
  footer picture img {
    width: 7rem;
  }
  footer .social-network {
    margin-left: auto;
    right: 3rem;
  }
  footer .social-network i {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
